#website {
    max-width: 1200px;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.logo img{
    width: 250px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}