@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

#website {
    max-width: 1200px;
    margin: 0 auto;
}

.root{
    --bg-color: white;
    --text-color:black;
}
h1,h2,h3,h4,h5 {
    font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 240px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.banner {
    width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: #000000;
}

.banner-image {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    background-image: url("POZADI_1.jpg");
    background-size: cover;
    background-position: center;
    transition: all .5s;
    opacity: 1;
}

.banner-image:hover {
    transform: scale(1);
}

.banner-text {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(119, 255, 0);
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
	padding: 0px 30px;
	border-radius:10px;

}

.banner-text h1 {
    font-size: 48px;
    font-weight: bold;
}


.banner-text p {
    font-size: 24px;
}

p {
    font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "width" 100;

}

.features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 30px 10px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 30px 0;
}

.feature-head {
    display: flex;
    align-items: center;
}

.feature-head svg {
	margin-right: 10px;
}

.feature-head h3 {
	margin:0;
	color: #26ff00;
	font-size: 20px;
}

.feature p {
	line-height: 1.5;
}

.icon-time {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m22 5.72l-4.6-3.86l-1.29 1.53l4.6 3.86zM7.88 3.39L6.6 1.86L2 5.71l1.29 1.53zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9a9 9 0 0 0 0-18m0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7m-1.46-5.47L8.41 12.4l-1.06 1.06l3.18 3.18l6-6l-1.06-1.06z'/%3E%3C/svg%3E");
	-webkit-mask: var(--un-icon) no-repeat;
	mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	background-color: currentColor;
	color: inherit;
	width: 1.2em;
	height: 1.2em;
  }

.feature-icon {
	font-size: 40px;
	margin-right: 10px;
	color:#00ff04;
}

.cta {
	text-align: center;
	padding: 30px 0;
}

.cta h2 {
	font-size: 28px;
}

.theme-switch {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M11 3V2q0-.425.288-.712T12 1t.713.288T13 2v1q0 .425-.288.713T12 4t-.712-.288T11 3m0 19v-1q0-.425.288-.712T12 20t.713.288T13 21v1q0 .425-.288.713T12 23t-.712-.288T11 22m11-9h-1q-.425 0-.712-.288T20 12t.288-.712T21 11h1q.425 0 .713.288T23 12t-.288.713T22 13M3 13H2q-.425 0-.712-.288T1 12t.288-.712T2 11h1q.425 0 .713.288T4 12t-.288.713T3 13m16.75-7.325l-.35.35q-.275.275-.687.275T18 6q-.275-.275-.288-.687t.263-.713l.375-.375q.275-.3.7-.3t.725.3t.288.725t-.313.725M6.025 19.4l-.375.375q-.275.3-.7.3t-.725-.3t-.288-.725t.313-.725l.35-.35q.275-.275.688-.275T6 18q.275.275.288.688t-.263.712m12.3.35l-.35-.35q-.275-.275-.275-.687T18 18q.275-.275.688-.287t.712.262l.375.375q.3.275.3.7t-.3.725t-.725.288t-.725-.313M4.6 6.025l-.375-.375q-.3-.275-.3-.7t.3-.725t.725-.288t.725.313l.35.35q.275.275.275.688T6 6q-.275.275-.687.288T4.6 6.025M12 18q-2.5 0-4.25-1.75T6 12t1.75-4.25T12 6t4.25 1.75T18 12t-1.75 4.25T12 18'/%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    cursor: pointer;
  }
  
  .theme-switch.dark {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M14 22q-2.075 0-3.9-.788t-3.175-2.137T4.788 15.9T4 12t.788-3.9t2.137-3.175T10.1 2.788T14 2q.875 0 1.75.175t1.675.525q.3.125.45.387t.15.538q0 .225-.088.425t-.287.35q-1.75 1.375-2.7 3.375T14 12q0 2.25.925 4.25t2.7 3.35q.2.15.288.363T18 20.4q0 .275-.15.538t-.45.387q-.8.35-1.662.513T14 22'/%3E%3C/svg%3E");
  }
  
  .theme-primary {
      background-color: var(--primary-color);
      color: white;
  }
  
  .btn {
      background-color: var(--primary-color);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
  }
  
  
  .cta {
      text-align: center;
      padding: 30px 0;
  }
  
  .cta h2 {
      font-size: 28px;
  }
  
  .theme-primary .btn {
      background-color: white;
      color: var(--primary-color);
  }

.container1 {
    display: flex;
    padding:20px;
    align-items: center; 
    gap: 20px; 
    border:5px black;
}

.container1-obrazek {
    flex: 1 1 50%;
    width: 800px; 
    height:500px;
}

.container1-body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column; 
    text-align:center;
}

.container2 {
    display: flex;
    padding:20px;
    flex-direction: row-reverse;
    align-items: center; 
    gap: 20px; 
    border:5px black;
}

.container2-obrazek {
    flex: 1 1 50%;
    width: 800px; 
    height:500px;
}

.container2-body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column; 
    text-align:center;
}

.container3 {
    display: flex;
    padding:20px;
    align-items: center; 
    gap: 20px; 
    border:5px black;
}

.container3-obrazek {
    flex: 1 1 50%;
    width: 800px; 
    height:500px;
}

.container3-body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column; 
    text-align:center;
}